/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.stater {
  width: 1px;
  height: 1px;
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

body {
    -webkit-animation: fadeIn 1s linear 1; /* Safari & Chrome */
    -moz-animation: fadeIn 1s linear 1; /* Firefox */
    -o-animation: fadeIn 1s linear 1;  /* Opera */
    animation: fadeIn 1s linear 1;
    margin: 30px 0 !important;
    background: url('../img/blur.jpg') no-repeat top left;
    background-size: cover;
}

.glyphicon {
  margin-right: 5px;
}
.gravimg {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 3px solid #fff;
}
.navbar-nav>li>.dropdown-menu.loginer{
  min-width: 320px;
}
.loginer .form-group {
  width: 100%;
}
.loginer input[type="text"] {
   margin: 10px 0;
   width: 100%;
 }
.loginer label {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px;

}
.loginer input[type="checkbox"] {
  float:right;
}

.errno .alert {
  position: fixed;
  width: 25%;
  top: 7%;
  right: 20px;
  z-index: 9999;
}
.inputer {
  clear: both;
  margin: 30px 0;
  float: right;
}
label strong {
  font-size: 130%;
  letter-spacing: 3px;
  color: red;
}
.copyright {
  display: block;
  font-size: 80%;
  text-align: center;
  padding: 0 5px;
  color: #bbb;
  line-height: 20px;
}
.copyright a {
  color: #fff;
}
.gimage {
  width: 100%;
  margin: 35px 0;
}
.jumbotron {
    background: transparent;
    border: none;
}

.jumbotron.imager {
  background-color: transparent;
  opacity: 1;
  max-height: 400px;
  overflow: hidden;
}
.jumbotron.imager h1 {
  margin-bottom: 30px;
}
.navbar-inverse {
  background: rgba(0,0,0,0.7);
  border-color: #fc0;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #fc0;
  background-color: transparent;
}

img.blur {
  -webkit-filter: blur(17px);
  -moz-filter: blur(17px);
  -o-filter: blur(17px);
  -ms-filter: blur(17px);
  filter: blur(17px);
  position: relative;
  margin-top: -50%;
  opacity: 0.5;
  width: 100%;
  z-index: -1;
  }
.userlevel {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.cleaner {
  clear:both;
  display: block;
  height: 30px;
}
.langer strong {
  text-transform: uppercase;
}
.media-body {
  position: relative;
  width: 100%;
}
.media-body .tools {
  position: absolute;
  top: 0;
  right: 0;
}
.media-body .tools form {
  display: inline;
  margin-right: 5px;
}

ul.paging {
  margin: 0;
  padding: 0;
}
ul.paging li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 20px;
}
ul.paging li small {
  display: block;
  color: #ccc;
  margin-bottom: 10px;
}
ul.simplePagerNav {
  margin: 0;
  padding: 0;
  float: right;
}
.unread h4, .unread p {
  font-weight: bold;
  color: maroon;
}
.unread span {
  font-weight: normal;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
}


  @media only screen and (max-width : 768px) {
  .jumbotron.imager {
    max-height: none;
    background: inherit;
  }
  .jumbotron .blur {
    display: none;
    visibility: hidden;
  }
  .gimage {
    margin: 10px 0;
  }

  }